@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    font-family: Roboto;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero-section {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    padding: 16px 15%;
    margin-bottom: 64px;
}

.hero {
    display: flex;
    justify-content: space-between;
    padding: 16px 15%;
    gap: 64px;
    margin-bottom: 128px;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.hero-main-text {
    /* display: flex; */
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-secondary-text {
    /* display: flex; */
    font-size: 18px;
    color: #E5E7EB;
}

.hero-sign-up {
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    border: none;
    font-weight: 900;
}

.hero-image {
    background-color: gray;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.logo {
    display: flex;
    align-items: center;
    gap: 16px;
    font-size: 24px;
    color: #F9FAF8;
}

.right {
    display: flex;
    align-items: center;
}

.information-header {
    text-align: center;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    margin: 32px;
    padding: 16px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 52px;
    margin-bottom: 128px;
}

.info-image {
    border: 2px #3882F6 solid;
    width: 150px;
    height: 150px;
    border-radius: 8px;
}

.text {
    text-align: center;
    color: #1F2937;
}

.info {
    max-width: 150px;
}

.quote {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 160px 20%;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
    font-weight: 300;
}

.author {
    font-size: 24px;
    font-weight: 900;
    align-self: flex-end;
}

.call-to-action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 128px 15%;
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
}

.call-to-action-text {
    font-size: 24px;
    font-weight: 900;
}

.call-to-action-sign-up {
    border: 2px solid #F9FAF8;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 8px;
    padding: 8px 32px;
    font-weight: 900;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}